<nav id="docs-navigation">
    <h5>{{t 'docs-navigation:gettingStarted'}}</h5>
    <ul>
        <li><a href="/docs/test1" class="{{currentUrlClass "/docs/test1" "current" }}">Overview</a></li> 
        <li><a href="/docs/test2" class="{{currentUrlClass "/render-test" "current" }}">Installation</a></li> 
        <li><a href="/docs/test3" class="{{currentUrlClass "/render-test" "current" }}">Configure the store</a></li>
    </ul>
    <h5>{{t 'docs-navigation:preWork'}}</h5>
    <ul>
        <li><a href="/docs/test1" class="{{currentUrlClass "/render-test" "current" }}">Products</a></li> 
        <li><a href="/docs/test2" class="{{currentUrlClass "/render-test" "current" }}">Backgrounds</a></li>
    </ul>
    <h5>{{t 'docs-navigation:Work'}}</h5>
    <ul>
        <li><a href="/docs/test1" class="{{currentUrlClass "/render-test" "current" }}">Sessions</a></li> 
        <li><a href="/docs/test2" class="{{currentUrlClass "/render-test" "current" }}">Orders</a></li>
    </ul>
</nav>